name: Deploy on push to main

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: "20.244.82.242"
          username: "rootadmin"
          key: ${{ secrets.SSH_KEY }}
          port: 22
          debug: true

          script: |
            cd /home/rootadmin/PlayWrightAutomation
            git pull origin main
